{%extends 'header.html'%}
{% block content %}
  <body>

    <main class="page">
      <section class="about-page">
        <article>
          <h2>The Ultimate Atr of Cooking.</h2>
          <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam dolore ducimus ea exercitationem expedita fuga, harum illo iure laudantium modi nisi optio, quae. Dicta facilis magnam odit perferendis placeat.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eius, expedita explicabo quae quisquam sed similique. Adipisci autem deleniti, fugiat iusto obcaecati officia velit. Asperiores debitis delectus expedita inventore ut.
          </p>
          <a href="contact" class="btn"> contact </a>
        </article>

        <img
          src="./static/img/cook.jpg"
          alt="Person Pouring Salt in Bowl"
          class="img about-img"
        />
      </section>
    </main>

    <script src="./js/app.js"></script>
  </body>
{% endblock %}