{%extends 'header.html'%}
{% block content %}
{% if request.session.user %}
  <body>

    <main class="page">
      <div class="recipe-page">
        <section class="recipe-hero">
          <img
            src="{{ prod.image }}"
            class="img recipe-hero-img"
          />
          <article class="recipe-info">
            <h2>{{prod.name}}</h2>
            <p>
              {{prod.description}}
            </p>
            <div class="recipe-icons">
              <article>
                <p><strong>Category</strong>:{{prod.category}}</p>
                <h5>prep time</h5>
                <p>{{prod.time}} min.</p>
              </article>

            </div>

          </article>
        </section>
        <!-- content -->
        <section class="recipe-content">
          <article>
            <h4>instructions</h4>
            <div class="single-instruction">
              <header>
                <p>step </p>
                <div></div>
              </header>
              <p>
               {{prod.Instructions}}
              </p>
            </div>

          </article>
          <article class="second-column">
            <div>
              <h4>ingredients</h4>
              <hr>
              <p class="single-ingredient">{{prod.Ingredients}}</p>
            </div>
          </article>
        </section>
      </div>
      <div class="container my-3">
        <h1>Recommended Recipes</h1>
        <hr>
        <div class="row ">
          {% for r  in recommended_recipes %}
            <div class="col-md-3">
              <a href="/recipe/{{r.id}}" class="recipe">
            <div class="card" >
                 <img src="{{ r.image}}" class="img recipe-img m-0" alt="" style="height:250px;"/>
                  <div class="card-body p-0 m-0">
                    <h5 class="card-title mx-2 py-3">{{ r.name }}</h5>
                  </div>
                </div>
             </a>
            </div>
          {%endfor%}
        </div>
      </div>
    </main>

    <script src="./js/app.js"></script>
  </body>
{%else%}
<div class="container">
  <h1>OPPs ! you are not login. Click here to <a href="/login">Login</a>
</h1>
</div>
{%endif%}
{% endblock %}